body{
  background-color: rgb(67, 124, 23);
  margin-left:  30%;
  margin-right:  30%;

}

header {
  text-align: center;
}

h1{
  font-size: 40px;
  text-shadow: 1px 1px 1px rgb(114, 111, 111);
  color: rgb(187, 137, 31);

}

h3{
  font-size: 20px;
  text-shadow: 1px 1px 1px rgb(114, 111, 111);
  color: rgb(187, 137, 31);
}

p{
  display: block;
  list-style: none;
  color: rgb(133, 213, 245);
  background-color: rgb(59, 22, 44);
  }